
/* formulario login*/
.contenedor{
	width: none;
	margin-left: -50px;
	padding: 15px;

}
.formulario{
	background: #858543;
	margin-top: 20px;
	padding: 3px;
	margin-left: 600px;
	margin-right: 520px;
	border-radius: 18px;
		margin-bottom: 15px;
}

h1{
	margin-top: 120px;
	margin-left: 560px;
	text-align: left;
	color: black;
	font-size: 48px;

}

h3{
	text-align: center;
	color: black;
	margin-left: 560px;
	text-align: left;
	font-size: 28px;
}

input{
	font-size: 20px;
	width: 400px;
	padding: 10px;
	border: none;
	border-radius: 18px;


}

.input-contenedor{
	margin-bottom: 15px;
}

.icon{
	min-width: 30px;
	text-align: center;
	color: black;
}

.button{
	margin-left: 150px;
	border: none;
	width: 150px;
	color: white;
	font-size: 15px;
	background: black;
	padding: 15px 20px;
	border-radius: 2px;
	cursor: pointer;
}

.button2{
	margin-left: 20px;
	border: none;
	width: 150px;
	color: black;
	font-size: 15px;
	background: white;
	padding: 15px 20px;
	border-radius: 2px;
	cursor: pointer;
}

.button:hover{
	background: white;
	color: black;

}

.button2:hover{
	background: black;
	color: white;

}

p{
	text-align: center;
	color: white;
}

.link{
	text-decoration: none;
	color: black;
	font-weight: 600;

}

.link:hover{
	color: white;
}

.txpass,.txrut{
	color: white;
}

.contenedor2{
	background: #858543;
	height: 30px;
	margin-top: 1%;
	padding: 3px;
	margin-left: 600px;
	margin-right: 560px;
	border-radius: 18px;
}