/*------------------------------------------------------------------------------------ContenidoDentroClienteMenu-------------------------------------------------------------*/
	
	.contenidoMenu{
		margin-top: 5%;
		padding-top: 5%;
		margin-bottom: 100%;
		padding-bottom: 100%;
		background: #E6E38A;
		background-size: 100% 100%; 
		background-size: 100vw 100vh;
		background-repeat: no-repeat;
	} 
	
.tittle{
	background-color: #858543;
}

.CS{
	margin-top: 222%;
	background: black;
}